@import "tailwindcss";

body {
    color: var(--foreground);
    font-family: "JetBrains Mono", monospace;
    color: var(--color-gray-800);
}

@layer utilities {
    .title {
        @apply text-lg text-black;
    }
}
